#root {
  background-color: white;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  
  color: rgba(53, 52, 52, 0.922);
}

.header {
  font-size: calc(10px + 1.5vmin);
  padding-left: 1%;
}


.login, .signup {
  list-style-type: none;
  padding: 0;
  padding-top: 1%;
  float: right;
  padding-right: 2%;

}


.header-logo {
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 15vmin;
  pointer-events: none;
}



.logo-div {
  padding-bottom: 22%;
  padding-top: 10%;
}

.footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;

}

@media (prefers-reduced-motion: no-preference) {
  /* .header-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
